@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

* {
    scroll-behavior: smooth;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #0E0C15;
}