@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

* {
    scroll-behavior: smooth;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hhh {

    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 5px;
    background-color: rgba(27, 140, 102, 0.432);
}

body {
    background-color: #0E0C15;
}

.flip {
    /* color: rgb(51, 169, 92); */

}

@keyframes gentle-sway {

    0%,
    100% {
        transform: skewY(0deg) translateY(0);
    }

    25% {
        transform: skewY(1deg) translateY(-2px);
    }

    50% {
        transform: skewY(0deg) translateY(0);
    }

    75% {
        transform: skewY(-1deg) translateY(-2px);
    }
}

.mobile-sway {
    animation: gentle-sway 4s ease-in-out infinite;
}